<!DOCTYPE html>
<html>
<head>
     <title>Login</title>
</head>
<body>
     
          <div align="center">
          <h3> Login </h3>
          
          USER NAME <br>
          <input type="text" name="id" value=""> <br>

          Password <br>
          <input type="password" name="password" value=""> <br> 

          <input type="checkbox" id="rm" name="rm" value="rm" > 
          <label for="rm"> Remember Me</label> <br> <br>

         <input type="submit" name="btn1" value="Login">
         <a href="#">Registration</a> 
         </div>
          
</body>
</html>