<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	      <div align="center">
          <form method="post" action="../controller/register.php" enctype="multipart/form-data">
          <h3> Registration </h3>
          
          Employer Name <br>
          <input type="text" name="ename" value=""> <br>

          Company <br>
          <input type="text" name="company" value=""> <br>

          Contact no <br>
          <input type="text" name="contact" value=""> <br>

          User Name <br>
          <input type="text" name="uname" value=""> <br>

          Password <br>
          <input type="password" name="password" value=""> <br> <br>

         <br>

         <input type="submit" name="btn1" value="Registration">
         <a href="#">Login</a> 
         </form>
        </div>
</body>
</html>